/***** STYLE - Announce & Beginning (Style de base - Mise en page) *****/

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/****** Elements de mise en page ****/

.bloc-infos-pratiques, .bloc-contact {
  text-align: center;
}

.bloc-texte-principal {
  grid-column-start: 2;
}

.block-image-quais {
  grid-column-start: 9;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 26px;
}

.grid img {
  width: 100%
}

.grid-span-4 {
    grid-column-end: span 4;
}
.grid-span-6 {
    grid-column-end: span 6;
}
.grid-span-8 {
    grid-column-end: span 8;
}
@media screen and (max-width: 600px) {    
    .grid-span-4-xs {
        grid-column-end: span 4;
    }
    .grid-span-6-xs {
        grid-column-end: span 6;
    }
    .grid-span-8-xs {
        grid-column-end: span 8;
    }
}

@media screen and (max-width: 450px) {    
    .grid-span-4-xxs {
        grid-column-end: span 4;
    }
    .grid-span-6-xxs {
        grid-column-end: span 6;
    }
    .grid-span-8-xxs {
        grid-column-end: span 8;
    }
    .grid-span-12-xxs {
        grid-column-end: span 12;
    }
}
/** grid column start */
.grid-col-st-4 {
    grid-column-start: 4;
}

@media screen and (max-width: 600px) {   
    .grid-col-st-3-xs {
        grid-column-start: 3;
    }   
    .grid-col-st-4-xs {
        grid-column-start: 4;
    }
}
@media screen and (max-width: 450px) {   
    .grid-col-st-1-xxs {
        grid-column-start: 1;
    }   
    .grid-col-st-3-xxs {
        grid-column-start: 3;
    }   
    .grid-col-st-4-xxs {
        grid-column-start: 4;
    }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #000;
  line-height: 1.5;
}

/***** Header, nav & logo *****/

/***** HEADER *****/
header {
	font-family: 'Oswald', sans-serif;
	display: flex;
	justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
  @media screen and (max-width: 950px) {
    header {
      flex-wrap: wrap;
      justify-content: center;
    }
    
  }

header li {
	list-style-type: none;
}

/***** LOGO *****/
#logo {
	display: flex;
	align-items: flex-end;
	padding: 25px;
}

@media screen and (max-width: 950px) {
  #logo {
	  padding-bottom: 12px;
  }
}


  #logo img {
    margin-right: 12px;
}
  #logo p {
	  padding-left: 12px;
	  font-size: 1.875rem;
	  color:#08398a;
	  font-weight: 700;
    line-height: 0.8;
  }
    #logo p span {
	    text-transform: uppercase;
	    font-size: 1.125rem;
	    color:#086cca;
    }

/***** NAV *****/
header nav ul {
	display: flex;
}

header nav a {
	display: block;
	padding: 64px 35px 24px;
  font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #423e56;
}

header nav a:hover, header nav a:focus {
	background-color: #0896bc;
  color: #fff;
}

/***** H1 *****/

#block-h1{
	background-image: url(/html/assets/img/metro-4501839_1920-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 123px 30px 114px 30px;
}

h1{
	text-transform: uppercase;
  font-size: 2.75em;
  font-weight: 700;
	color: #086cca;
  padding: 0 20px;
}

#block-h1 > div{
	background-color: rgba(255,255,255,0.80);
	padding: 30px;
	max-width: 800px;
	text-align: center;
}

#block-h1 p{
	font-size:1.125rem;
}

/***** H2 *****/

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #423e56;
  padding: 0 0 25px;
}

/***** H3 *****/

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #423e56;
  padding: 0 0 25px;
}

/***** FOOTER *****/

footer {
    background-color: #423e56;
    padding-top: 50px;
    color: #fff;
}
footer a {
    color: #fff;
    font-weight: 700;
}
footer p:first-line {
    font-weight: 700;
    font-size: 1.25rem;
}
footer > div {
    display: flex;
}