/***** STYLE - Announce & Beginning *****/

.container {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #000;
  line-height: 1.5;
}

/***** Header, nav & logo *****/

header {
	font-family: 'Oswald', sans-serif;
	display: flex;
	justify-content: space-between;
}

header li {
	list-style-type: none;
}

nav ul {
	display: flex;
}

nav a {
	display: block;
	padding: 64px 35px 24px;
	text-transform: uppercase;
	text-decoration: none;
	color: #423e56;
}

nav a:hover {
	color: #0896bc;
}

#logo {
	display: flex;
	align-items: center;
	padding: 25px;
}
#logo p {
	padding-left: 12px;
	font-size: 1.875rem;
	color:#08398a;
	font-weight: 700;
}
#logo p span {
	text-transform: uppercase;
	font-size: 1.125rem;
	color:#086cca;
}

/***** H1 *****/

#block-h1{
	background-image: url(/html/assets/img/metro-4501839_1920-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 123px 30px 114px 30px;
}

h1{
	text-transform: uppercase;
  font-size: 2.75em;
  font-weight: 700;
	color: #086cca;
  padding: 0 20px;
}

#block-h1 > div{
	background-color: rgba(255,255,255,0.80);
	padding: 30px;
	max-width: 800px;
	text-align: center;
}

#block-h1 p{
	font-size:1.125rem;
}

/***** H2 *****/

#block-h2 {
  display: flex;
}

#h2-texte {
  flex: 2;
}

#h2-image {
  flex: 1;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #423e56;
  
}

#h2-texte p:first-line {
  font-weight: 700;
}

footer {
    background-color: #423e56;
    padding-top: 50px;
    color: #fff;
}
footer a {
    color: #fff;
    font-weight: 700;
}
footer .footerblock p:first-child {
    font-weight: 700;
    font-size: 1.25rem;
}
footer > div {
    display: flex;
}