/**** STYLES DE BASE 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;

****/
.container {
    max-width: 1000px;   
    margin: 0 auto;   
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #000;
    line-height: 1.5;
}
   
   
/**** 
HEADER 
****/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 22px;
    font-family: 'Oswald', sans-serif;
}
    @media screen and (max-width: 950px) {
        header {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
/*** Bloc logo - header **/
#logo {
    display: flex;
    align-items: flex-end;
    padding-bottom: 24px;
}
@media screen and (max-width: 950px) {
    #logo {
        padding-bottom: 12px;
    }
}
    #logo img {
        margin-right: 12px;
    }
    #logo p {
        color: #08398a;
        font-size: 1.875rem; /*30px*/
        font-weight: 700;
        line-height: 0.8;
    }
        #logo p span {
            color: #086cca;
            text-transform: uppercase;
            font-size: 1.125rem; /*18px*/
        }
/**** Menu de navigation - header ***/
header nav {
    color: #423e56;
    text-transform: uppercase;
}
    header nav ul {
        display: flex;
    }
        header nav li {
            list-style-type: none;
        }
            header nav a {
                color: #423e56;
                text-decoration: none;
                font-weight: 700;
                padding: 24px 36px;
                display: block;
            }
            header nav a:hover, header nav a:focus {
                background-color: #0896bc;
                color: #fff;
            }

.chapo-block {
    background-image: url(/html/assets/img/metro-4501839_1920-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-quais {
    display: flex;
}
.section-quais :first-child {
    flex: 2;
}
.section-quais :last-child {
    flex: 1;
}

.bloc-infos-pratiques, .bloc-contact {
    grid-column-start: 4;
}

/****** Elements de mise en page ****/
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 26px;
}
.grid > * {
    background-color: gray;
}
.grid-span-4 {
    grid-column-end: span 4;
}
.grid-span-6 {
    grid-column-end: span 6;
}
.grid-span-8 {
    grid-column-end: span 8;
}
@media screen and (max-width: 600px) {    
    .grid-span-4-xs {
        grid-column-end: span 4;
    }
    .grid-span-6-xs {
        grid-column-end: span 6;
    }
    .grid-span-8-xs {
        grid-column-end: span 8;
    }
}

@media screen and (max-width: 450px) {    
    .grid-span-4-xxs {
        grid-column-end: span 4;
    }
    .grid-span-6-xxs {
        grid-column-end: span 6;
    }
    .grid-span-8-xxs {
        grid-column-end: span 8;
    }
    .grid-span-12-xxs {
        grid-column-end: span 12;
    }
}
/** grid column start */
.grid-col-st-4 {
    grid-column-start: 4;
}

@media screen and (max-width: 600px) {   
    .grid-col-st-3-xs {
        grid-column-start: 3;
    }   
    .grid-col-st-4-xs {
        grid-column-start: 4;
    }
}
@media screen and (max-width: 450px) {   
    .grid-col-st-1-xxs {
        grid-column-start: 1;
    }   
    .grid-col-st-3-xxs {
        grid-column-start: 3;
    }   
    .grid-col-st-4-xxs {
        grid-column-start: 4;
    }
}