/***** STYLE - Announce & Beginning *****/

.container {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #000;
  line-height: 1.5;
}

/***** Header *****/

header {
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: space-between;
}

header li {
  list-style-type: none;
}

header nav a {
  text-decoration: none;
  color: #000;
}

/***** Header - Block Logo *****/
#logo {
  display: flex;
  align-items: center;
}

#logo p {
  padding-left: 12px;
  font-size: 30px;
  color: #08398a;
  font-weight: 700;
}

#logo p span {
  text-transform: uppercase;
  color: #086cca;
  font-size: 18px;
}

/***** Header - Nav *****/

nav ul {
  display: flex;
}

nav a {
  
}